body {
    background-color: #dcdbd2;
    height: 80vh;
}

header {
    background-color: #009688;
    height: 20vh;
}

main {
    background-color: #fff;
    position: absolute;
    top: 20px;
    left: 100px;
    right: 100px;
    bottom: 20px;
}

#user-view {
    width: 30%;
}

#view-header {
    height: 80px;
}

#message-notice {
    background-color: #8edafc;
    height: 50px;
    width: 100%;
}

.fa-solid {
    color: #b1b1b1;
    font-size: 20px;
    margin: 0 5px;
}

.fa-bell-slash {
    color: #8edafc;
}

#ring-bell {
    background-color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 5px;
    line-height: 40px;
    text-align: center;
}

a {
    color: #b1b1b1;
}

#notice-text {
    font-size: 15px;
}

#message {
    margin: 8px;
}

.form-control {
    border-left: none;
}

.input-group-text {
    background-color: #fff;
}

.input-group {
    padding: 5px 15px;
    background-color: #cccccc;
}