#bg-section {
    background-color: #dcdbd2;
    height: 80vh;
}

header {
    background-color: #009688;
    height: 20vh;
}

main {
    background-color: #fff;
    position: absolute;
    top: 20px;
    left: 100px;
    right: 100px;
    bottom: 20px;
}

#user-view {
    width: 30%;
}

#user-name img {
    height: 50px;
}

#user-name {
    margin-left: 15px;
}

#user-interaction {
    margin-right: 10px;
}

#view-header {
    height: 10vh;
}

#message-notice {
    background-color: #8edafc;
    height: 50px;
    width: 100%;
}

.fa-solid {
    color: #b1b1b1;
    font-size: 20px;
    margin: 0 5px;
    cursor: pointer;
}

.fa-bell-slash {
    color: #8edafc;
}

#ring-bell {
    background-color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 15px;
    line-height: 40px;
    text-align: center;
}


a {
    color: #b1b1b1;
}

#notice-text {
    font-size: 15px;
}

#message {
    margin: 8px;
}

.form-control {
    border-left: none;
}

.input-group-text {
    background-color: #fff;
}

.input-group {
    padding: 5px 15px;
    background-color: #cccccc;
}

.contact-list {
    overflow-y: scroll;
    height: 75vh;
}

.contact {
    height: 100px;
    width: 100%;
    padding-left: 10px;
    padding-top: 20px;
    border: 1px solid #eaeaea;
}

.contact img {
    height: 75px;
}

#user-messages {
    width: 80%;
}

#message-header {
    height: 10vh;
    background-color: #eaeaea;
}

.access-time {
    font-size: 15px;
    color: #666;
}

.contact-info {
    height: 50px;
    line-height: 0px;
}

#message-view {
    height: 86vh;
    background-image: url('../img/mine.jpg');
}

#chat {
    height: 78vh;
}

#mic {
    background-color: #cccccc;
}

.fa-microphone {
    color: #666;
}

.chat-mex {
    height: 57px;
}

.chat-view {}

.chat-box {
    display: flex;
}

.chat-box.recived {
    justify-content: flex-start;
}

.message-content {
    padding: 10px 5px;
    border-radius: 10px;
    margin: 15px 10px;
}

.recived .message-content {
    background-color: #fff;

}

.sent .message-content {
    background-color: #d5f9ba;

}

.chat-box.sent {
    justify-content: flex-end;
}

.chat-box time {
    display: block;
    text-align: right;
    color: #aaa;
    font-size: 10px;
}